name: Deploy Photostudio Frontend

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:
  # Слушаем сигнал от бэкенда
  repository_dispatch:
    types: [backend_updated]

env:
  REGISTRY: ghcr.io

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      # 1. Тоже исправляем заглавные буквы для фронта
      - name: Lowercase Repo Name
        run: echo "IMAGE_NAME=${GITHUB_REPOSITORY,,}" >> $GITHUB_ENV

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ secrets.GHCR_USERNAME }}
          password: ${{ secrets.GHCR_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:latest

      - name: Deploy to Server via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          script: |
            echo "${{ secrets.GHCR_TOKEN }}" | docker login ghcr.io -u "${{ secrets.GHCR_USERNAME }}" --password-stdin
            
            # Скачиваем свежий образ ФРОНТА
            docker pull ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:latest
            
            # ВАЖНО: Идем в папку БЭКЕНДА (там лежит docker-compose.yml)
            cd /srv/apps/photostudio
            
            # Обновляем docker-compose на всякий случай
            git reset --hard
            git pull origin main
            
            # Перезапускаем ФРОНТЕНД (убедись, что сервис называется 'web' или 'frontend')
            docker compose up -d --no-deps --build web
            
            docker image prune -f
